.noyon{
    background-color: rgb(185, 10, 10);
    color: #fff;
    text-align: center;
    font-style: italic;
    margin: 0;
    padding: 5px;
}
.noyonBtn {
    outline: none;
    background-color: rgb(9, 104, 9);
    color: #fff;
    padding: 10px;
    cursor: pointer;
    border: none;
    margin-top: 10px;
    border-radius: 5px;
   margin-left: 50%;
    
}